.App {
  text-align: center;
}

.or{
  display: flex;
}
.on{
  background-color:#078bef;
}
.im {
  display: flex;
 padding: 10px;
 justify-content: center;
  
}
.im>img{
  width: 50px;
  

}
.on>h1{
  margin: 56px;
}
.az{
  background-color: black;
  padding: 60px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
}
.az>p{
color: #078bef;
}
.oui{
  background-color: aquamarine;
}